{% extends 'urlShort/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">API Documentation</h1>
        <div class="card mt-4">
            <div class="card-body">
                <p class="card-text">The API can be accessed through a "POST" request to the route "/api" which requires a "long_url" parameter to be included in the headers.</p>
                <p class="card-text">For example: headers = {"long_url": "http://www.google.com"}</p>
                <p class="card-text">Here "long_url" is the URL you want to shorten.</p>
                <p class="card-text">Example Response:</p>
                <pre><code>{
        'short_url': new_short_url,
        'long_url': original_url,
        'clicks': number_of_times_used,
        'created_at': link_created_at,
    }</code></pre>
            </div>
        </div>
    </div>
{% endblock %}